<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <div class="logo-title-container">
    <img width="100" alt="Angular Logo" src="assets/breast-cancer-logo.png">
    <h1>
      {{ title }}
    </h1>
  </div>
    <div class="container">
      <div class="body-main">
        <div class="row">
          <div class="label-wrapper">
              <div class="label">
                  <fa-icon icon="check-circle" size="2x" [styles]="{'stroke': '#00cc66', 'color': '#00cc66'}"></fa-icon> <span style="padding-left: 3px; font-size: 1.4em">Godartet</span>
              </div>
              <div class="label">
                  <fa-icon icon="exclamation-triangle" size="2x" [styles]="{'stroke': '#ff3300', 'color': '#ff3300'}"></fa-icon> <span style="padding-left: 3px; font-size: 1.4em">Ondartet</span>
              </div>
          </div>
            
        </div>
    </div>
    <div class="pasient-table-wrapper">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Pasient ID</th>
                  <th scope="col">Alder</th>
                  <th scope="col">Kommune</th>
                  <th scope="col">Detaljer</th>
                  <th scope="col">Valg</th>
                  <th scope="col">Valg2</th>
                  <th><fa-icon icon="robot"></fa-icon> AI</th>
                  <th><fa-icon icon="user-md"></fa-icon> Biopsi</th>
                </tr>
              </thead>
              <tbody *ngFor="let pasient of pasients">
                <tr>
                  <td>{{pasient.id}}</td>
                  <td>{{pasient.alder}}</td>
                  <td>{{pasient.kommune}}</td>
                  <td>
                      <button type="button" class="table-btn btn btn-sm btn-outline-primary" (click)="viewTumorData(pasient.id)">Vis detaljer</button>
                  </td>
                  <td>
                      <button type="button" class="table-btn btn btn-sm btn-outline-primary" (click)="predict(pasient.id)">Kjør analyse</button>
                      </td>
                  <td>
                      <button type="button" class="table-btn btn btn-sm btn-outline-success" (click)="biopsi(pasient.id)">Hent biopsi</button>
                  </td>
                  <td>
                      <ng-template [ngIf]="pasient.aiMalignant === undefined" [ngIfElse]="aiMalignant">
                          <fa-icon icon="minus-circle" size="2x" [styles]="{'stroke': '#686869', 'color': '#686869'}"></fa-icon>
                      </ng-template>
                      <ng-template #aiMalignant>
                        <ng-template [ngIf]="pasient.aiMalignant" [ngIfElse]="aiBenignt">
                            <fa-icon icon="exclamation-triangle" size="2x" [styles]="{'stroke': '#ff3300', 'color': '#ff3300'}"></fa-icon>
                        </ng-template>
                      </ng-template>
                      <ng-template #aiBenignt>
                          <fa-icon icon="check-circle" size="2x" [styles]="{'stroke': '#00cc66', 'color': '#00cc66'}"></fa-icon>
                      </ng-template>
                  </td>
                  <td>
                      <ng-template [ngIf]="pasient.biopsiMalignant === undefined" [ngIfElse]="biopsiMalignant">
                          <fa-icon icon="minus-circle" size="2x" [styles]="{'stroke': '#686869', 'color': '#686869'}"></fa-icon>
                      </ng-template>
                      <ng-template #biopsiMalignant>
                        <ng-template [ngIf]="pasient.biopsiMalignant" [ngIfElse]="biopsiBenignt">
                            <fa-icon icon="exclamation-triangle" size="2x" [styles]="{'stroke': '#ff3300', 'color': '#ff3300'}"></fa-icon>
                        </ng-template>
                      </ng-template>
                      <ng-template #biopsiBenignt>
                          <fa-icon icon="check-circle" size="2x" [styles]="{'stroke': '#00cc66', 'color': '#00cc66'}"></fa-icon>
                      </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
